body {
    background-color: #16213E;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;

    &-age {
        display: flex;
        flex-direction: column;
        padding: 10px;
        display: flex;
        gap: 10px;
        background-color: #0F3460;
        border-radius: 8px;

        &-controls {
            display: flex;
            gap: 10px;

            div {
                display: flex;
                flex-direction: column;
                width: fit-content;
            }
        }
    }
}

.age {
    
    &_birth {
        width: fit-content;
    }

    &_total {
        width: 50px;
    }
}

.life {

    &_nodes {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        padding: 10px;
        margin: 0 auto;
        background-color: #0F3460;
        border-radius: 8px;

        div {
            border: 1px solid rgb(40, 157, 175);
        }

        div[data-size="1"] {
            width: 3.3px;
            height: 3.3px;
            margin: 1.5px;
        }

        div[data-size="2"] {
            width: 5px;
            height: 5px;
            margin: 1.3px;
        }

        div[data-size="3"] {
            width: 10px;
            height: 10px;
            margin: 2px;
        }
    }
}

.nodes-to_live,
label {
    color: #c8c8c8;
}

.nodes-lived {
    color: rgb(33, 173, 66);
}

.nodes-left {
    color: rgb(241, 11, 11);
}

div.lived {
    background-color: rgb(33, 173, 66);
    border: 1px solid rgb(27, 82, 97);
}

.node_size {
    width: 100%;
}