.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;

    &-age {
        display: flex;
        flex-direction: column;
        padding: 10px;
        display: flex;
        gap: 10px;
        // width: 20%;

        &-controls {
            display: flex;
        }
    }
}

.age {
    &_birth {
        width: fit-content;
    }

    &_total {
        width: 50px;
    }
}

.life {

    &_nodes {
        display: flex;
        flex-wrap: wrap;
        width: 85%;
        padding: 10px;
        margin: 0 auto;

        div {
            border: 1px solid black;
            
        }

        div[data-size="1"] {
            width: 2px;
            height: 2px;
            margin: 1.5px;
        }

        div[data-size="2"] {
            width: 5px;
            height: 5px;
            margin: 2px;
        }

        div[data-size="3"] {
            width: 10px;
            height: 10px;
            margin: 3px;
        }
    }
}

.lived {
    background-color: orange;
}

.node_size {
    width: 100%;
}